 /*---------css for infragistic-------------*/
 
#ctl00_ContentPlaceHolder1_DD_Investigation_TextBox,#ctl00_ContentPlaceHolder1_Conbo_TextBox,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_TextBox,#ctl00_ContentPlaceHolder1_DD_Patient_TextBox,
#ctl00_ContentPlaceHolder1_DD_Investigations_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Brand_TextBox,
#ctl00_ContentPlaceHolder1_Combo_Health_Certi_TextBox,#ctl00_ContentPlaceHolder1_Combo_MedicalTitle_TextBox,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_TextBox,#ctl00_ContentPlaceHolder1_Txt_DocTitle_TextBox,
#ctl00_ContentPlaceHolder1_DropDown_Relation_TextBox,#ctl00_ContentPlaceHolder1_DropDown_City_TextBox,
#ctl00_ContentPlaceHolder1_DD_InvName_TextBox,#ctl00_ContentPlaceHolder1_Comboinvcat_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Sex_TextBox,#ctl00_ContentPlaceHolder1_DropDownList_Sponcer_TextBox,#ctl00_ContentPlaceHolder1_DropDown_BloodGroup_TextBox,#ctl00_ContentPlaceHolder1_DropDown_RH_Factor_TextBox,#ctl00_ContentPlaceHolder1_DD_MaritalStatus_TextBox,#ctl00_ContentPlaceHolder1_DD_Religion_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Alleragy_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Since_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Habit_TextBox,#ctl00_ContentPlaceHolder1_DropDown_PastHistory_TextBox,#ctl00_ContentPlaceHolder1_DD_pastDieaseType_TextBox,#ctl00_ContentPlaceHolder1_DropDown_FamilyHistory_TextBox,#ctl00_ContentPlaceHolder1_DropDown_RelationShip_TextBox,#ctl00_ContentPlaceHolder1_DropDown_SinceFamily_TextBox,#ctl00_ContentPlaceHolder1_DD_ServiceName_TextBox,#ctl00_ContentPlaceHolder1_DD_ServiceCatg_TextBox,#ctl00_ContentPlaceHolder1_DD_PastAgeGroup_TextBox,#ctl00_ContentPlaceHolder1_DD_CardNO_TextBox,#ctl00_ContentPlaceHolder1_DD_VisitNO_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Complaint_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Availability_TextBox,#ctl00_ContentPlaceHolder1_DD_Strength_TextBox,#ctl00_ContentPlaceHolder1_DropDown_DosageComment_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Unit_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Dosage_TextBox,#ctl00_ContentPlaceHolder1_ddlpDuration_TextBox,#ctl00_ContentPlaceHolder1_DD_ProcedureName_TextBox,#ctl00_ContentPlaceHolder1_DD_UnitComplaint_TextBox,#ctl00_ContentPlaceHolder1_DD_ProUnit_TextBox,#ctl00_ContentPlaceHolder1_DD_ProcedureUnit_TextBox,#ctl00_ContentPlaceHolder1_DD_AgeGroup_TextBox,#ctl00_ContentPlaceHolder1_DD_PastHistory_TextBox,#ctl00_ContentPlaceHolder1_DropDownAlleragy_TextBox,#ctl00_ContentPlaceHolder1_DD_PersonalHistory_TextBox,#ctl00_ContentPlaceHolder1_DD_AgeSince_PersonalHistory_TextBox,#ctl00_ContentPlaceHolder1_DD_Relation_TextBox,#ctl00_ContentPlaceHolder1_DD_PatientFamilyHistory_TextBox,#ctl00_ContentPlaceHolder1_DD_ProDiseasesName_TextBox,#ctl00_ContentPlaceHolder1_DD_FamilyHistoryAgeSince_TextBox,#ctl00_ContentPlaceHolder1_DD_InvName_DD_InvName_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Complaint_DropDown_Complaint_TextBox,#ctl00_ContentPlaceHolder1_DD_ProcedureName_DD_ProcedureName_TextBox,#ctl00_ContentPlaceHolder1_DD_Patient_DD_Patient_TextBox,#ctl00_ContentPlaceHolder1_Comboinvcat_Comboinvcat_TextBox
#ctl00_ContentPlaceHolder1_DD_Investigation_TextBox,#ctl00_ContentPlaceHolder1_Conbo_TextBox,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_TextBox,#ctl00_ContentPlaceHolder1_DD_Patient_TextBox,
#ctl00_ContentPlaceHolder1_DD_Investigations_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Brand_TextBox,
#ctl00_ContentPlaceHolder1_Combo_Health_Certi_TextBox,#ctl00_ContentPlaceHolder1_Combo_MedicalTitle_TextBox,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_TextBox,#ctl00_ContentPlaceHolder1_Txt_DocTitle_TextBox,
#ctl00_ContentPlaceHolder1_DropDown_Relation_TextBox,#ctl00_ContentPlaceHolder1_DropDown_City_TextBox,
#ctl00_ContentPlaceHolder1_DD_InvName_TextBox,#ctl00_ContentPlaceHolder1_Comboinvcat_TextBox,#ctl00_ContentPlaceHolder1_DrpDwn_vacci_TextBox,#ctl00_ContentPlaceHolder1_DropDownList_Allergy_type_TextBox,#ctl00_ContentPlaceHolder1_DD_Masters_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Bind_TextBox,#ctl00_ContentPlaceHolder1_ddl_prescription_no_TextBox,#ctl00_ContentPlaceHolder1_DD_PrefixName_TextBox,#ctl00_ContentPlaceHolder1_ddl_patient_name_TextBox,#ctl00_ContentPlaceHolder1_dd_patgdpre_TextBox,#ctl00_ContentPlaceHolder1_DD_PatGdPrefix_TextBox,#ctl00_ContentPlaceHolder1_Combo_Fitness_Certificate_TextBox,#ctl00_ContentPlaceHolder1_Combo_Referredby_TextBox,#ctl00_ContentPlaceHolder1_Combo_Referredto_TextBox

#ctl00_ContentPlaceHolder1_DD_Investigation_TextBox,#ctl00_ContentPlaceHolder1_Conbo_TextBox,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_TextBox,#ctl00_ContentPlaceHolder1_DD_Patient_TextBox,
#ctl00_ContentPlaceHolder1_DD_Investigations_TextBox,#ctl00_ContentPlaceHolder1_DropDown_Brand_TextBox,
#ctl00_ContentPlaceHolder1_Combo_Health_Certi_TextBox,#ctl00_ContentPlaceHolder1_Combo_MedicalTitle_TextBox,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_TextBox,#ctl00_ContentPlaceHolder1_Txt_DocTitle_TextBox,
#ctl00_ContentPlaceHolder1_DropDown_Relation_TextBox,#ctl00_ContentPlaceHolder1_DropDown_City_TextBox,
#ctl00_ContentPlaceHolder1_DD_InvName_TextBox,#ctl00_ContentPlaceHolder1_Comboinvcat_TextBox,
#ctl00_ContentPlaceHolder1_DropDownAlleragy_TextBox,#ctl00_ContentPlaceHolder1_DD_PastHistory_TextBox,
#ctl00_ContentPlaceHolder1_DD_PersonalHistory_TextBox,#ctl00_ContentPlaceHolder1_DD_PatientFamilyHistory_TextBox,
#ctl00_ContentPlaceHolder1_DropDown_Complaint_TextBox,#ctl00_ContentPlaceHolder1_Combo_Referredby_TextBox,
#ctl00_ContentPlaceHolder1_Combo_Referredto_TextBox,#Combo_popUp_TextBox

{display: block;
  width: 100%;
  height: 34px;
  font-size: 12px;   
  padding:6px 12px;
  border: 1px solid #4989cc; 
  background-image:non;
  text-transform:uppercase;
  font-weight :400;
  display: table-cell;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
}
.RadEditor.reWrapper .reToolCell
{
	 background-color: #4989cc;
}
#ctl00_ContentPlaceHolder1_txtEdit_ts_d,
#ctl00_ContentPlaceHolder1_txtEdit_ts_h,
#ctl00_ContentPlaceHolder1_Txt_DOCPreviewFrom_ts_d,
#ctl00_ContentPlaceHolder1_Txt_DOCPreviewFrom_ts_h,
#ctl00_ContentPlaceHolder1_txtEdit_ts_d,
#ctl00_ContentPlaceHolder1_txtEdit_ts_h
{
	display:none;
}

#ctl00_ContentPlaceHolder1_DD_Investigation_Button,
#ctl00_ContentPlaceHolder1_Conbo_Button,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_Button,
#ctl00_ContentPlaceHolder1_DD_Patient_Button,
#ctl00_ContentPlaceHolder1_DD_Investigations_Button,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_Button,
#ctl00_ContentPlaceHolder1_Txt_DocTitle_Button,
#ctl00_ContentPlaceHolder1_DropDown_Relation_Button,
#ctl00_ContentPlaceHolder1_DropDown_City_Button,
#ctl00_ContentPlaceHolder1_DD_InvName_Button,
#ctl00_ContentPlaceHolder1_Comboinvcat_Button,#ctl00_ContentPlaceHolder1_DropDown_Sex_Button,#ctl00_ContentPlaceHolder1_DropDownList_Sponcer_Button,#ctl00_ContentPlaceHolder1_DropDown_BloodGroup_Button,#ctl00_ContentPlaceHolder1_DropDown_RH_Factor_Button,#ctl00_ContentPlaceHolder1_DD_MaritalStatus_Button,#ctl00_ContentPlaceHolder1_DD_Religion_Button,#ctl00_ContentPlaceHolder1_DropDown_Alleragy_Button,#ctl00_ContentPlaceHolder1_DropDown_Since_Button,#ctl00_ContentPlaceHolder1_DropDown_Habit_Button,#ctl00_ContentPlaceHolder1_DropDown_PastHistory_Button,#ctl00_ContentPlaceHolder1_DD_pastDieaseType_Button,#ctl00_ContentPlaceHolder1_DropDown_FamilyHistory_Button,#ctl00_ContentPlaceHolder1_DropDown_RelationShip_Button,#ctl00_ContentPlaceHolder1_DropDown_SinceFamily_Button,#ctl00_ContentPlaceHolder1_DD_ServiceCatg_Button,#ctl00_ContentPlaceHolder1_DD_PastAgeGroup_Button,#ctl00_ContentPlaceHolder1_DD_ServiceName_Button,#ctl00_ContentPlaceHolder1_DD_CardNO_Button,#ctl00_ContentPlaceHolder1_DD_VisitNO_Button,#ctl00_ContentPlaceHolder1_DropDown_Complaint_Button,#ctl00_ContentPlaceHolder1_DropDown_Brand_Button,#ctl00_ContentPlaceHolder1_DropDown_Availability_Button,#ctl00_ContentPlaceHolder1_DD_Strength_Button,#ctl00_ContentPlaceHolder1_DropDown_DosageComment_Button,#ctl00_ContentPlaceHolder1_DropDown_Unit_Button,#ctl00_ContentPlaceHolder1_DropDown_Dosage_Button,#ctl00_ContentPlaceHolder1_ddlpDuration_Button,#ctl00_ContentPlaceHolder1_DD_ProcedureName_Button,#ctl00_ContentPlaceHolder1_DD_UnitComplaint_Button,#ctl00_ContentPlaceHolder1_DD_ProUnit_Button,#ctl00_ContentPlaceHolder1_DD_ProcedureUnit_Button,#ctl00_ContentPlaceHolder1_DD_AgeGroup_Button,#ctl00_ContentPlaceHolder1_DD_PastHistory_Button,#ctl00_ContentPlaceHolder1_DropDownAlleragy_Button,#ctl00_ContentPlaceHolder1_DD_PersonalHistory_Button,#ctl00_ContentPlaceHolder1_DD_AgeSince_PersonalHistory_Button,#ctl00_ContentPlaceHolder1_DD_Relation_Button,#ctl00_ContentPlaceHolder1_DD_PatientFamilyHistory_Button,#ctl00_ContentPlaceHolder1_DD_ProDiseasesName_Button,#ctl00_ContentPlaceHolder1_DD_FamilyHistoryAgeSince_Button,#ctl00_ContentPlaceHolder1_DD_InvName_DD_InvName_Button,#ctl00_ContentPlaceHolder1_DropDown_Complaint_DropDown_Complaint_Button,#ctl00_ContentPlaceHolder1_DD_ProcedureName_DD_ProcedureName_Button,#ctl00_ContentPlaceHolder1_DD_Patient_DD_Patient_Button,#ctl00_ContentPlaceHolder1_Comboinvcat_Comboinvcat_Button
#ctl00_ContentPlaceHolder1_DD_Investigation_Button,
#ctl00_ContentPlaceHolder1_Conbo_Button,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_Button,
#ctl00_ContentPlaceHolder1_DD_Patient_Button,
#ctl00_ContentPlaceHolder1_DD_Investigations_Button,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_Button,
#ctl00_ContentPlaceHolder1_Txt_DocTitle_Button,
#ctl00_ContentPlaceHolder1_DropDown_Relation_Button,
#ctl00_ContentPlaceHolder1_DropDown_City_Button,
#ctl00_ContentPlaceHolder1_DD_InvName_Button,
#ctl00_ContentPlaceHolder1_Comboinvcat_Button,#ctl00_ContentPlaceHolder1_DrpDwn_vacci_Button,#ctl00_ContentPlaceHolder1_DropDownList_Allergy_type_Button,#ctl00_ContentPlaceHolder1_DD_Masters_Button,#ctl00_ContentPlaceHolder1_DropDown_Bind_Button,#ctl00_ContentPlaceHolder1_ddl_prescription_no_Button,#ctl00_ContentPlaceHolder1_DD_PrefixName_Button,#ctl00_ContentPlaceHolder1_ddl_patient_name_Button,#ctl00_ContentPlaceHolder1_dd_patgdpre_Button,#ctl00_ContentPlaceHolder1_DD_PatGdPrefix_Button,#ctl00_ContentPlaceHolder1_Combo_Fitness_Certificate_Button,#ctl00_ContentPlaceHolder1_Combo_Referredby_Button,#ctl00_ContentPlaceHolder1_Combo_Referredto_Button

#ctl00_ContentPlaceHolder1_DD_Investigation_Button,
#ctl00_ContentPlaceHolder1_Conbo_Button,
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_Button,
#ctl00_ContentPlaceHolder1_DD_Patient_Button,
#ctl00_ContentPlaceHolder1_DD_Investigations_Button,
#ctl00_ContentPlaceHolder1_Combo_HealthCertificate_Button,
#ctl00_ContentPlaceHolder1_Txt_DocTitle_Button,
#ctl00_ContentPlaceHolder1_DropDown_Relation_Button,
#ctl00_ContentPlaceHolder1_DropDown_City_Button,
#ctl00_ContentPlaceHolder1_DD_InvName_Button,
#ctl00_ContentPlaceHolder1_Comboinvcat_Button,
#ctl00_ContentPlaceHolder1_DropDownAlleragy_Button,
#ctl00_ContentPlaceHolder1_DD_PastHistory_Button,
#ctl00_ContentPlaceHolder1_DD_PersonalHistory_Button,
#ctl00_ContentPlaceHolder1_DD_PatientFamilyHistory_Button,
#ctl00_ContentPlaceHolder1_DropDown_Complaint_Button,
#ctl00_ContentPlaceHolder1_Combo_Referredby_Button,
#ctl00_ContentPlaceHolder1_Combo_Referredto_Button,#Combo_popUp_Button
{
    border: 1px solid #4989cc;
    color: #6f7379;
	font-weight:bold;
	float:left;
	height: 34px !important; 
	width:17px !important; 
	z-index: 2;
}
#ctl00_ContentPlaceHolder1_DD_Investigation_Button:hover,
#ctl00_ContentPlaceHolder1_Conbo_Button:hover { color:#fff;background-color: #2e6da4;}

/*.input-group.ajax__combobox_buttoncontainer
{
	top:0px;
	bottom:5px;
}
#ctl00_ContentPlaceHolder1_DD_PrescriptionNo_TextBox
{
	top:0px;
	bottom:5px;
}*/
.ajax__combobox_textboxcontainer,.ajax__combobox_inputcontainer,
.ajax__combobox_textboxcontainer,.ajax__combobox_textboxcontainer
{
width:100%;
height: 34px;	
 text-transform: uppercase;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  padding:0;
  top:0px;
  bottom :0px;
}
.ajax__combobox_buttoncontainer
{
	border:0px;
}
#ctl00_ContentPlaceHolder1_DD_Patient_Button
{
	visibility: visible;
	width:10px;  
	height:34px;
}
.ajax__combobox_buttoncontainer,ajax__combobox_textboxcontainer
{
	visibility: visible;
	width:10px;  
	height:32px;
}
 #ctl00_ContentPlaceHolder1_DropDown_Complaint_TextBox
 {
 	overflow:scroll;
 }
 
 .shortcode-toggle .toggle-content .ctl00_ContentPlaceHolder1_DropDown_Complaint_TextBox
 {
    position:inherit !important; 
 }
  
 